:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --light-blue: #2998ff;
  --red: red;
}

.cool {
  background-color: aliceblue;
}
.warm {
  background-color: purple;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column; 
  background-color: var(--light-blue);
}

#filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: white;
  margin-top: 20px; 
border-radius: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 15px;
  background-color: var(--red);
  transition: border-color 0.25s;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#nflteams {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 30px; 
}

.team-card {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.team-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.team-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.team-info h3 {
  font-size: 25px;
  margin-bottom: 5px;
  color: darkgray;
}

.team-info p {
  font-size: 14px;
  color: darkgray;
}
